body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #ffa07a, #ff7f87);
    font-family: "Poppins", sans-serif;
}

.container {
    width: 360px;
    background: #fff;
    padding: 35px;
    border-radius: 16px;

    text-align: center;

    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    animation: fadeIn 0.5s ease-out;
}

.title {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
}

.subtitle {
    margin-bottom: 25px;
    font-size: 14px;
    color: #666;
}

.input-group {
    text-align: left;
    margin-bottom: 18px;
}

.input-group label {
    font-size: 14px;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;

    border-radius: 10px;
    border: 1px solid #ccc;

    transition: 0.25s;
}

.input-group input:focus {
    outline: none;
    border-color: #ff6b6b;
    box-shadow: 0 0 8px rgba(255,107,107,0.4);
}

.login-btn {
    width: 100%;
    padding: 12px;

    background: #ff6b6b;
    color: #fff;

    border: none;
    border-radius: 10px;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #ff4e4e;
    box-shadow: 0px 7px 18px rgba(255,80,80,0.4);
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(15px);}
    to   {opacity: 1; transform: translateY(0);}
}
