body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Poppins", sans-serif;
    background: #bacfdb;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: linear-gradient(180deg, #005bea, #00c6fb);
    color: white;
    padding: 25px;
    position: fixed;
}

.logo {
    font-size: 26px;
    text-align: center;
    margin-bottom: 35px;
}

.sidebar li {
    list-style: none;
    padding: 12px 15px;
    background: rgba(255,255,255,0.15);
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 12px;
}
.sidebar li.active {
    background: #ffffff;
    color: #005bea;
    font-weight: 600;
}


.sidebar li:hover {
    background: white;
    color: #005bea;
}

/* Main Content */
.main-content {
    margin-left: 270px;
    padding: 30px;
    width: calc(100% - 270px);
    text-align: center
    
}

h1 {
    margin-bottom: 20px;
}

.settings-box, .menu-section {
    background: white;
    padding: 25px;
    border-radius: 14px;
    margin-bottom: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.settings-box input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.save-btn, .add-btn {
    padding: 10px 20px;
    border: none;
    background: #005bea;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* MENU ITEMS */
.add-item-form input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.menu-list {
    margin-top: 20px;
}

.menu-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.menu-card img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.item-info {
    flex-grow: 1;
}

.btn-row {
    display: flex;
    gap: 10px;
}

.edit-btn, .delete-btn, .toggle-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.main-block {
    max-width: 900px;
    margin: auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

.menu-card {
    transition: 0.3s ease;
    cursor: pointer;
}

.menu-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 12px 25px rgba(0,0,0,0.15);
}


.edit-btn { background: #0077ff; color: white; }
.delete-btn { background: #e63946; color: white; }
.toggle-btn { background: #ffc107; }
